* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Courier New', Courier, monospace;
}

.flex-header {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
}

.flex-header .batman {
	padding: 20px;
	background-color: #e6e6e6;
}

.flex-header .cv-wyne {
	padding: 10px;
	background-color: #c4c4c4;
	width: 100%;
}

.cv-wyne p {
	font-size: 36px;
	font: bold;
	color: #005677;
}

.div-caja {
	height: 100px;
}

.cv-parteUno {
	background-color: #c4c4c4;
	padding: 10px;
	color: #005677;
	font: bold;
	font-size: 19px;
}

.cv-parteDos {
	padding: 20px;
}

.cv-parteDos ul li span {
	font-weight: bold;
}

.lista-uno {
	padding: 10px;
}

.listas {
	padding: 5px;
}

.footer {
	background-color: #005677;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 10px;
}

.batman-footer p {
	color: #ffff;
	font-size: 26px;
	font-weight: 900;
}

.style-footer-img a img {
	width: 26px;
	height: 26px;
}
